<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SFTP_SERVER" value="sftp.example.com"/>
		<add key="SFTP_USER" value="ncc"/>
		<add key="KEY_PATH" value="C:\keys\ncc_sftp_key.pem"/>
		<add key="KEY_PASS_PHRASE" value="samplePassPhrase123"/>
		<add key="DB_SERVER" value="ncc-db-srv.database.windows.net,1433"/>
		<add key="DB_USER" value="NccUser"/>
		<add key="DB_PASS" value=""/>
		<add key="DB_NAME" value=""/>
		<add key="DB_SCHEMA" value=""/>
		<add key="SHOP_CODE" value=""/>
	</appSettings>
</configuration>
